<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic OCR plugin preview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic OCR preview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6" class="ion-text-center ion-padding">
        <ion-img
          src="{{imageBase64$.value ? imageBase64$.value : placeholderImage}}"
          class="ion-margin-bottom"
        ></ion-img>
        <ng-container *ngIf="isLoading$.value; else loaded">
          <ion-spinner></ion-spinner>
        </ng-container>
        <ng-template #loaded>
          <ion-text>
            <p>{{result$.value}}</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer [translucent]="true">
  <ion-grid class="ion-margin-vertical">
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="chooseImage()">Choose Image</ion-button>
      <ion-button (click)="captureImage()">Capture Image</ion-button>
    </ion-row>
  </ion-grid>
</ion-footer>
