

ion-grid {
  //height: 100%;
}


.image-size {
  object-fit: contain;
  max-height: 400px;
}

.result-height {
  //height: 50%;
}

.d-fx {
  display: flex;
}

.d-fx-row {
  flex-direction: row;
}

.d-fx-col {
  flex-direction: column;
}

.u-justify-center {
  justify-content: center;
}
